<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace 는 결국 dao 를 찾아가는 루트를 정해주는 역할과 이 BoardDaoMapper.xml을 찾아올 수 있도록 이름을 지칭해준다. -->
<mapper namespace="com.ktdsuniversity.edu.spring_homework.dao.BoardDao">
	<select id="selectBoardAllCount" resultType="_int">
	SELECT COUNT(1)
	  FROM BOARD 
	</select>
	<select id="selectAllBoard" resultType="com.ktdsuniversity.edu.spring_homework.vo.BoardVO">
	SELECT ID 
	 , SUBJECT 
	 , CONTENT 
	 , EMAIL 
	 , VIEW_CNT 
	 , TO_CHAR(CRT_DT,'YYYY-MM-DD') CRT_DT
	 , TO_CHAR(MDFY_DT, 'YYYY-MM-DD') MDFY_DT
	 , FILE_NAME 
	 , ORIGIN_FILE_NAME 
  FROM BOARD
	</select>
	<insert id="insertNewBoard" parameterType="com.ktdsuniversity.edu.spring_homework.vo.WriteBoardVO">
	INSERT INTO BOARD
	  (ID
	 , SUBJECT
	 , CONTENT
	 , EMAIL
	 , VIEW_CNT
	 , CRT_DT
	 , MDFY_DT
	 , FILE_NAME
	 , ORIGIN_FILE_NAME)
	 VALUES
	  (SEQ_BOARD_PK.NEXTVAL
	 , #{subject}
	 , #{content}
	 , #{email}
	 , 0
	 , SYSDATE
	 , SYSDATE
	 , NULL
	 , NULL)
	</insert>
	<select id="selectOneBoard" 
	resultType="com.ktdsuniversity.edu.spring_homework.vo.BoardVO" 
	parameterType="_int">
	SELECT ID
	 , SUBJECT
	 , CONTENT
	 , EMAIL
	 , VIEW_CNT
	 , TO_CHAR(CRT_DT,'YYYY-MM-DD') CRT_DT
	 , TO_CHAR(MDFY_DT ,'YYYY-MM-DD') MDFY_DT 
	 , FILE_NAME
	 , ORIGIN_FILE_NAME
  FROM BOARD
 WHERE id=#{_parameter}
	</select>
	<update id="updateViewCount" parameterType="_int">
	 UPDATE BOARD 
        SET VIEW_CNT = VIEW_CNT + 1
      WHERE BOARD.ID = #{_parameter}
	</update>
</mapper>